@use "../utils/functions" as func;
@use "../utils/variables" as var;
* {
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubik", sans-serif;
  background-color: var.$bg--color;
}
.dark-mode {
  background-color: #a00000;
}
.container {
  max-width: func.getContainer(1440, 116, 20);
  margin: 0 auto;
  padding: 0 20px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
